{% extends "base.html" %}
{% block google_tags_head %}
    {{ super() }}
    gtag('event', 'home', { 'send_to': 'agency' });
{% endblock %}
{% block container %}
      <!-- section -->
      <section class="main_full banner_section_top">
        <div class="container-fluid">
          <div class="row">
             <div class="full">
                  <div class="slider_banner">
                    <img class="img-responsive" src="static/images/babairon/home.png" style="max-height:600px;"  alt="#" />
                      <div class="slide_cont">
                        <div class="slider_cont_inner">
                          <h3>Welcome To Our Shop</h3>
                            <p class="shop_detail"><b>We are providing quality products (Building material) to build your sweet homes, offices, schools</b></p>
                        </div>
                      </div>
                  </div>
                </div>
          </div>
        </div>
      </section>
      <!-- end section -->
    
     <!-- about section -->
      <section class="layout_padding section about_dottat">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1">
                     <h2>About</h2>
                  </div>
                  <div class="full">
                     <p class="large">We are a reckoned name, which is readily engaged in delivering Building Material at customers' premises. The offered range is known for acquiring one or more property, behavior, composition or performance. Compared to conventional material, the offered range is much more superior.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="about_img margin_top_30  text_align_center">
                     <img src="static/images/babairon/owner.png" alt="#" width="250" height="250"  />
                      <h4>Baldev Singh</h4>
                  </div>
               </div>
                <div class="col-md-4">
                  <div class="about_img margin_top_30  text_align_center">
                     <img src="static/images/babairon/owner1.jpeg" alt="#" width="250" height="250"  />
                      <h4>Dilbag Singh</h4>
                  </div>
               </div>
                <div class="col-md-4">
                  <div class="about_img margin_top_30  text_align_center">
                     <img src="static/images/babairon/owner2.jpeg" alt="#" width="250" height="250"  />
                      <h4>Akash Deep Singh</h4>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end about section -->

      <!-- section -->
      <section class="layout_padding section">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1">
                     <h2>Major Available Products</h2>
                  </div>
                  <div class="full">
                     <p class="large">We are dealing in Various products like <b>Cement</b>, <b>Fabrication Iron Material</b>, <b> Tiles and SanitaryWare</b>, <b>Iron Hardware</b>, <b>Spare Parts</b></p>
                  </div>
               </div>
            </div>
            <div class="row">

              <div class="col-md-4 text_align_center">
                 <div class="cours">
                   <img class="img-responsive" src="static/images/babairon/cement.jpg" alt="#" />
                 </div>
                 <h3>Cement</h3>
                 <p>Good Quality Cement joins the bricks and prepare a home of dreams. Available brands are </p>
                  <p>ACC, JK Super</p>
              </div>  

              <div class="col-md-4 text_align_center">
                 <div class="cours">
                   <img class="img-responsive" src="static/images/babairon/iron_rod.png" alt="#" />
                 </div>
                 <h3>Iron rod</h3>
                 <p>Gallant, Sidhabali, Mittal</p>
              </div> 

              <div class="col-md-4 text_align_center">
                 <div class="cours">
                   <img class="img-responsive" src="static/images/babairon/sanitary-ware.jpg" alt="#" />
                 </div>
                 <h3>Sanitary ware</h3>
                 <p>Somani, Trovant, Kajaria</p>
              </div> 

            </div>
         </div>
      </section>
      <!-- end section -->

      <!-- section -->
<!--      <section class="layout_padding section">-->
<!--         <div class="container-fluid">-->
<!--            <div class="row">-->
<!--               <div class="col-lg-12 text_align_center">-->
<!--                  <div class="full heading_s1">-->
<!--                     <h2>Our Success Stories</h2>-->
<!--                  </div>-->
<!--                  <div class="full">-->
<!--                     <p class="large">In ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br>consequat. Duis aute irure dolor in re</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-12 testimonial">-->
<!--                  <div class="full text_align_center">-->
<!--                     <img src="static/main/images/testimon.png" alt="#" />-->
<!--                     <h3><span class="theme_color_text">koluda</span><br><small>Student</small></h3>-->
<!--                  </div>-->
<!--                  <div class="full margin_top_30 text_align_center">-->
<!--                    <h4>I have successfully complated</h4>-->
<!--                    <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--        </div>-->
<!--      </section>-->
      <!-- end section -->

{% endblock %}